/* *
{
    padding-left: 0px;
} */

.main
{
  display: flex;
}

body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 11%;
  height:330px;
  margin-left: 0px;
  background-color: #fcc0c0;
  /* overflow: auto; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 90px;
  margin-top: 140px;
  
}

.navbar a {
  float: left;
  padding-left: 2px;
  margin-bottom: 5px;
  padding-right: 5px;
  padding-top: 7px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  height: 15%;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #aa9c04;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
h2
{
    cursor: pointer;
    padding-left: 20px;
    font-family: 'Satisfy', cursive;
    font-size: 50px;
}
.note
{
    margin-left: 0px;
    display: flex;
    justify-content: left;
    /* flex-direction: column; */
    width: 10px;
    cursor: pointer;
}
/* .container */
/* { */
    
    /* margin-top: auto;
    margin: auto;
    margin-left: 2000px;   
    max-width: 30px;
} */
.crud
{
  display: flex;
  width: 300px;
  height: 100px;
  justify-content: right;
  position:absolute;
  margin-left: 950px;
  margin-top: 10px;
  /* padding-left: 400px;2 */
}
.bg
{
    /* width: 100%; */
    opacity: 0.2;
    z-index: -5;
    position: absolute;
    height: 568px;
    width: 1280px;
}